@import "tailwindcss";
@theme{
--color-primary:#FFF2C6;
--color-secondary:#000000;
--color-accent:#060771;
}

/*scrollbar*/

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color:transparent ;
}

::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 4px;
}